@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: sans-serif;
  background-image: 
  url("../src/assets/image/pokemon2.gif"), 
  url("../src/assets/image/pokemon1.gif"), 
  url("../src/assets/image/pokemon3.gif"),
  url("../src/assets/image/pokemon4.gif");
  background-position: top left, bottom right, bottom left, top right;
  background-size: 20%, 18%, 20%, 15%;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
